<h1>Editing inventory_shelf_barcode_import_result</h1>

<%= render 'form' %>

<%= link_to 'Show', @inventory_shelf_barcode_import_result %> |
<%= link_to 'Back', inventory_shelf_barcode_import_results_path %>
