<h1>Editing inventory_check_data_import_result</h1>

<%= render 'form' %>

<%= link_to 'Show', @inventory_check_data_import_result %> |
<%= link_to 'Back', inventory_check_data_import_results_path %>
